
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h3 class="title">{{bar.name}}</h3>
          <div class="card mt-3" style="width: 18rem;">
          <div class="card-body">
            <img src="{{bar.gallery}}" alt="picture">
            <h6 class="title mt-2">{{bar.description}}</h6>
            <h6 class="title mt-2">{{bar.address}}</h6>
            <h6 class="card-subtitle m-2 text-muted">Capacity: <span>{{bar.capacity}}</span></h6>
        </div>
    
              <address class='d-none'>
                <input type="text" id='latitude' value="{{ bar.location.coordinates.[0] }}"/>
                <input type="text" id='longitude' value="{{ bar.location.coordinates.[1] }}"/>
              </address>
              {{#isSelf compareIDS}}
        <a href="/bars/{{bar.id}}/edit" class="btn btn-outline-warning btn-sm mb-1">Edit</a>
        <a href="/bars/{{bar.id}}/createEvent" class="btn btn-outline-info btn-sm">Create Event</a> 
              {{/isSelf}}
        </div>
        <a href="/bars" ><i class="fa fa-angle-left mt-5" aria-hidden="true"></i></a>
    </div>
    <div class="col-sm">
          {{#if events}}
          <h3 class="title">Upcoming events</h3>
          {{/if}}
      {{> events/event_list }}
    </div>  

      <div class='mb-5 mt-5'id='map'></div>

  </div>
</div>



