
<h3 class="title">{{bar.name}}</h3>
<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <img src="{{bar.gallery}}" alt="picture">
    <h6 class="title">{{bar.description}}</h6>
    <h6 class="card-subtitle m-2 text-muted">Capacity: <span>{{bar.capacity}}</span></h6>
  </div>
  <a href="/bars/{{bar.id}}/edit" class="btn btn-outline-warning btn-sm">Edit</a>
</div>

<div>
  {{> events/event_list }}
</div>

<a href='/bars/{{bar.id}}/createEvent' class="card-link ml-5">Create Event</a>
<a href="/bars" class="card-link ml-5">Go back</a>