<div class="container">
  <h3 class="title mb-3">{{event.name}}</h3>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="title">{{bar.name}}</h6>
      <h6 class="card-subtitle text-muted">Price: <span>{{event.price}} €</span></h6>
    </div>
    

  <form action="/events/{{event.id}}/delete" method="post">
    <a href="/events/{{event.id}}/edit" class="btn btn-outline-warning btn-sm ml-2">Edit</a>
    <button class="btn btn-outline-danger btn-sm">Delete</button>
  </form>

  </div>

  <a href="/bars/{{bar.id}}" ><i class="fa fa-angle-left mt-5" aria-hidden="true"></i></a>



</div>




{{!-- // Evento
// Artista
// Sala
// Location*
// nombre
// Fecha
// Precio --}}