<div class="card-group">
    <div class="row">
        <div class="col- m-4">
          <div class="card w-60 mb-5">
         <h4 class="card-header bg-dark text-uppercase text-white">{{this.name}}
            <div class="float-right">
                <a class="btn btn-raised btn-light ml-3" href="/artists/{{this.id}}">
                    <i class="fa fa-user"></i>
                </a>
            </div>
        </h4>
        <div class="card-body">
          <img src='{{this.gallery}}' class="img-thumbnail" alt="avatar"/>
          <p class="card-text text-center"><small>{{this.genre}}</small></p>
          <p class="card-text text-center ">{{this.description}}</p>
       </div>
     </div>
    </div>
  </div>
</div>
