
<h2 class="m-5">Artist Details</h2>

<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{artist.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{artist.description}}</h6>
    <img src="{{artist.gallery}}" alt="picture">
    <h6 class="card-subtitle mb-2 text-muted">{{artist.genre}}</h6>
    <a href="/artists/{{artist.id}}/edit" class="card-link text-warning">Edit</a>
    <a href="/artists" class="card-link">Go back</a>
  </div>
</div>