
<h3 class="title">{{artist.name}}</h3>
<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <img src="{{artist.gallery}}" alt="picture">
    <h6 class="title">{{artist.description}}</h6>
    <h6 class="card-subtitle m-2 text-muted">Genre: <span>{{artist.genre}}</span></h6>
  </div>
  <a href="/artists/{{artist.id}}/edit" class="btn btn-outline-warning btn-sm">Edit</a>
</div>

<a href="/artists" class="card-link ml-5">Go back</a>

